*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #222;
}
.card{
    width: 90%; 
    max-width: 470px;
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    background: rgb(52,160,164);
background: linear-gradient(90deg, rgba(52,160,164,1) 0%, rgba(22,138,173,1) 33%, rgba(26,117,159,1) 62%, rgba(24,78,119,1) 92%);
    color: #fff;
    margin: 80px auto 0; 
    
    padding: 40px 35px;
    text-align: center;
}
.temp{
    font-size: 75px;
    color: white;
    
    margin-top: 30px;
}
.city{
    font-size: 45px;
    color: white;
    


}
.humidity{
    font-size: 13px;
    color: white;
}
.wind{
    color:white
}
.left-side div p{
    color: white;
    font-size: 13px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}